/* Slider1.css */

/* Default styles for larger screens */
.Slider1Container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
  }
  
  .Slider1Image {
    max-height: 100%;
    width: 100%;
    height: 100%;
  }
  
  /* Media query for screens with a maximum width of 600px (for mobile) */
  @media (max-width: 600px) {
    .Slider1Container {
      /* Adjust the height for mobile screens */
      height: 30vh; /* You can adjust this value as needed */
    }
  
    .Slider1Image {
      /* Make the image take full height on mobile */
      height: 100%;
    }
  }
  